.DriverCard{
    display: flex;
    /* justify-content: space-evenly; */
    width: 60vw;
    background:#455EB5;
    border-radius: 8px;
    color: white;
    margin: 2%;
    align-items: stretch;
    padding-left: 20%;
}


.DriverCard__info{
    display: flex;
    flex-direction: column;
}


.DriverCard__title{
    font-weight: 700;
    font-size: 1.3rem;
}

.DriverCard img{
    height: 8vw;
    width: auto;

}

.imgCropper{
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    overflow: hidden;
    border-radius: 50%;
    margin: auto 5%;
}